@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home{
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle, #000E24, #102047);
  display: flex;
  justify-content: center;
  align-items: center;

  .home-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
  }

  h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: white;
    font-size: 24px;
    padding: 20px 0px;
  }

  .highlight {
    display: inline-block;
    padding: 0 10px;
    background: #4FA0F2;
    color: #ffffff;
  }

  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #4FA0F2;
    border-radius: 50px;
    cursor: pointer
  }
}
