nav{
  background-color: #000E24;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

img{
  width: 50px;
  margin-bottom: -5px;
  margin-right: 30px;
}
.title{
  font-size: 48px;
  padding: 30px 50px;
}

.links{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #4FA0F2;
  border-radius: 50px;
  cursor: pointer
}

.navbar-link{
  text-decoration: none;
  color: white;
}